@model ECommerceStore.Models.Product
@{
	ViewData["Title"] = "Lawinscky Store - " + Model.Name;
}

<h1>Details</h1>
<hr />
<div class="row">
	<div class="col-4">
		<img src="@Url.Action("GetImage", "Products", new { id = Model.Id })" alt="Product's image not found" style="max-width:100%" />
	</div>
	<div class="col-4">
		<dl class="row">
			<dt>@Html.DisplayNameFor(model => model.Name)</dt>
			<dd>@Html.DisplayFor(model => model.Name)</dd>
			<dt>@Html.DisplayNameFor(model => model.Price)</dt>
			<dd>@Html.DisplayFor(model => model.Price)</dd>
			<dt>@Html.DisplayNameFor(model => model.Description)</dt>
			<dd>@Html.DisplayFor(model => model.Description)</dd>
			<dt>@Html.DisplayNameFor(model => model.CategoryId)</dt>
			<dd>@Html.DisplayFor(model => model.Category.Name)</dd>
			<dt>@Html.DisplayNameFor(model => model.StockQuantity)</dt>
			<dd>@Html.DisplayFor(model => model.StockQuantity)</dd>
		</dl>
	</div>
	<div class="col-4">
		@if (Model.StockQuantity != 0){
			if (User.Identity.IsAuthenticated)
			{
				<form asp-action="AddToCart" method="post" class="d-flex flex-row gap-2">
					<input asp-for="@Model.Id" name="productId" type="hidden" />
					<div>
						<label>Quantity</label>
						<input name="quantity" type="number" min="1" max="@Model.StockQuantity" />
						<span class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-primary">Add to cart</button>
				</form>
			}
			else
			{
				<span><a asp-area="Identity" asp-page="/Account/Login">Login</a> to add products to you cart</span>

			}
		}
		else
		{
			<span class="text-bg-warning fw-bold fs-2">Product out of stock</span>	
		}

	</div>
</div>
<div>
	<a asp-action="Index">Back to list</a>
</div>