@model ECommerceStore.Models.Product
@{
	ViewData["Title"] = "Delete";
}

<h1>Confirm Deletion</h1>
<p>Are you sure you want to delete the following product?</p>
<hr />
<div class="row">
	<div class="col-4">
		<dl class="row">
			<dt>@Html.DisplayNameFor(model => model.Name)</dt>
			<dd>@Html.DisplayFor(model => model.Name)</dd>
			<dt>@Html.DisplayNameFor(model => model.Price)</dt>
			<dd>@Html.DisplayFor(model => model.Price)</dd>
			<dt>@Html.DisplayNameFor(model => model.Description)</dt>
			<dd>@Html.DisplayFor(model => model.Description)</dd>
			<dt>@Html.DisplayNameFor(model => model.CategoryId)</dt>
			<dd>@Html.DisplayFor(model => model.Category.Name)</dd>
			<dt>@Html.DisplayNameFor(model => model.StockQuantity)</dt>
			<dd>@Html.DisplayFor(model => model.StockQuantity)</dd>
		</dl>
	</div>
	<div class="col-4">
		<img src="@Url.Action("GetImage", "Products", new { id = Model.Id })" alt="Product's image not found" style="max-width:100%" />
	</div>
</div>
<div>
	<form asp-action="DeleteConfirmed">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Id"/>
		<input type="submit" class="btn btn-danger" value="Delete" />
		<a asp-action="Index">Back to list</a>
	</form>
</div>
