@model ECommerceStore.Models.Product
@{
	ViewData["Title"] = "Details";
}
<h1>Details</h1>
<dl class="row">
	<dt>@Html.DisplayNameFor(model => model.Name)</dt>
	<dd>@Html.DisplayFor(model => model.Name)</dd>
	<dt>@Html.DisplayNameFor(model => model.Price)</dt>
	<dd>@Html.DisplayFor(model => model.Price)</dd>
	<dt>@Html.DisplayNameFor(model => model.Description)</dt>
	<dd>@Html.DisplayFor(model => model.Description)</dd>
	<dt>@Html.DisplayNameFor(model => model.CategoryId)</dt>
	<dd>@Html.DisplayFor(model => model.Category.Name)</dd>
	<dt>@Html.DisplayNameFor(model => model.StockQuantity)</dt>
	<dd>@Html.DisplayFor(model => model.StockQuantity)</dd>
	<dt>@Html.DisplayNameFor(model => model.ImageUrl)</dt>
	<dd>@Html.DisplayFor(model => model.ImageUrl)</dd>
</dl>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
	<a asp-action="Index">Back to list</a>
</div>